<!-- <div class="row online">
  <div class="col-12">
    <app-profile></app-profile>
    <div class="row">
      <div class="col-12">
        <h3 class="h5">Online:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-contact *ngFor="let i of [1, 2, 3, 4]"></app-contact>
      </div>
    </div>
  </div>
</div> -->

<div class="row online d-flex">
  <div class="col-12 border-gray d-none d-lg-block">
    <app-profile></app-profile>
    <div class="row">
      <div class="col-12">
        <h3 class="h5">Online:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 list-contacts">
        <app-contact *ngFor="let contact of usersOnline" [contact]="contact" [receiver]="receiver" [unreadMessages]="unreadMessages" (click)="openConversation(contact)">
        </app-contact>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-9 col-md-12">
    <app-conversation [conversation]="messages" [receiver]="receiver"></app-conversation>
  </div> -->
</div>
