<div class="row contacts d-flex">
  <div class="col-3 border-gray">
    <app-profile></app-profile>
    <div class="row">
      <div class="col-12">
        <h3 class="h5">Contacts:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-contact *ngFor="let contact of contactsAvailables" [contact]="contact" (click)="openConversation(contact)"></app-contact>
      </div>
    </div>
  </div>
  <div class="col-9">
    <app-conversation [conversation]="messages" [receiver]="receiver"></app-conversation>
  </div>
</div>
