<div class="main">
  <div class="container mt-5 main-home">
    <div class="row">
      <div class="col-lg-1 col-md-2 d-sm-none d-none d-md-block">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-11 col-md-10 col-12">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
  <div class="container-fluid footer d-block d-md-none">
    <div class="row d-flex justify-content-center w-100 mt-3">
      <div class="col-8">
        <div class="row">
          <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-menu" [routerLink]="['/']" placement="right" ngbTooltip="Online"><i
                class="bi bi-people-fill h2"></i></button>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-menu" [routerLink]="['/contacts']" placement="right" ngbTooltip="Contacts"><i
                class="bi bi-person-rolodex h2"></i></button>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-menu"><i class="bi bi-back h2" placement="right" ngbTooltip="Light mode"></i></button>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-menu" placement="right" ngbTooltip="Exit" (click)="logout()"><i class="bi bi-door-closed h2"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

