<div class="row sidebar">
  <div class="col-12 d-flex flex-column justify-content-center">
    <div class="row py-3">
      <div class="col-12">
        <button class="btn btn-menu" [routerLink]="['/']"><i class="bi bi-person-rolodex h2"></i></button>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <button class="btn btn-menu" [routerLink]="['/online']"><i class="bi bi-people-fill h2"></i></button>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <button class="btn btn-menu"><i class="bi bi-back h2"></i></button>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <button class="btn btn-menu" (click)="logout()"><i class="bi bi-door-closed h2"></i></button>
      </div>
    </div>
  </div>

</div>
