<div class="row mt-3">
  <div class="col-4">
    <img onerror="'/assets/img/image-profile.png'"  [src]="'/assets/avatars/' + avatarId + '.png'" alt="" class="image-profile w-100 rounded-circle" (click)="changeAvatar()" placement="bottom" ngbTooltip="Change Avatar">
  </div>
  <div class="col-8">
    <h1 class="h3"><span class="font-italic h5">@</span>{{username}}</h1>
    <form [formGroup]="formGroup">
      <ng-select [clearable]="false" [searchable]="false" [items]="statuses" bindLabel="name" bindValue="id" formControlName="statuses" class="custom">
      </ng-select>
    </form>

  </div>
</div>
