<div class="row avatars d-flex justify-content-between">
    <div class="col-12 title">
      <h2 class="text-white text-center pt-2">Are you sure want to exit?</h2>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <span><i class="bi bi-door-closed icon text-white"></i></span>
    </div>
    <div class="col-12 d-flex align-items-end justify-content-center separator-top">
        <div class="row w-100 d-flex justify-content-center mb-3">
            <div class="col-6 d-flex justify-content-between">
                <button class="btn btn-secondary px-3" (click)="logout()">EXIT</button>
                <button class="btn btn-send px-3" (click)="cancel()">CANCEL</button>
            </div>
        </div>
      
    </div>
  </div>
  